
{% extends 'dashboard/base.html' %}
{% block title %}
    My WebApp
{% endblock %}

{% block content %}
    <h3 id="intro">Intro</h3>
    <p>Welcome to my web application powered by Django(tm)! If you're here you're either probably myself or someone I
    linked here (most likely Val), but you're welcome nonetheless. ..Not like I can throw you out anyway.</p>
    <p>For now we only have one app available, I'm afraid. Do try it out, though. Our workers are being paid
    0.30 cents per hour, so it might take a while. Don't like it? Blame capitalism.</p>
    <p>The search function might work on a good day.</p>
    <p>Just kidding. ...What? Do you expect me to be competent or something?</p>
    <p>The page titles are also not updated at all consistently. I did this at 11pm on a tuesday, let me off this time.</p>
    <p>Neither are the content page titles.</p>
    <p>There's also an error with one of the forms. You'd probably not be able to find it though.</p>
    </div>
{% endblock %}

