{% extends 'dashboard/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Create Choices{% endblock %}</title>
</head>
<body>
{% block content_title_1 %}
Life is Full of Choices..
{% endblock %}
{% block content_title_2 %}
Choice Creation
{% endblock %}
{% block content %}
<ul>
{% for choice in choices %}
    <li>{{ choice}}</li>
    {% endfor %}
</ul>

<form method="post">
    {% csrf_token %}
    Add a choice to the poll: <input type="text" name="choice_name">
    <input type="submit">
</form>
{% endblock %}
</body>
</html>