{% extends 'dashboard/docs/index.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block header_title %} Confirm Deletion {% endblock %}
{% block header_content %} Sure you ain't fucked up, pal? Wanna delete this shit? {% endblock %}
{% block content %}
    </ul>
    <form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm">
    </form>
{% endblock %}

</body>
</html>