{% extends 'dashboard/docs/index.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block header_title %}Register an Account{% endblock %}
    {% block header_content %} Did you know we're not at all protected against XSS? {% endblock %}
{% block content %}
    </ul>


    <form method="post">
    {% csrf_token %}
    Username: <input class="form-control" type="text" name="username">
    Password: <input class="form-control" type="text" name="password">
    <input type="submit">

    </form>
{% endblock %}

</body>
</html>